{% extends 'main/layout.html' %}

{% load static %}

{% block script %}
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jsoneditor/9.5.7/jsoneditor.min.js" integrity="sha512-AZMllTAUq+DfrIKphpa5ppBD0mZy08Orh+fDJiTYk5c6vw19I3ibbXduFt42BUQqYhKQXEVA+QLAZWw9YlO0Dw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="{% static "js/configuration.js" %}"></script>

{% endblock script %}


{% block body %}
  
  <h1 class='flex-container3'>Configuration Options</h1>
  <div id="jsoneditor"></div>  
  
  <script>
    let data = {{ json_information|safe }}; 
    config_editor(data)
  </script>
  
  <form action="{% url 'configuration' %}" class='z-pad' method="POST" onsubmit="return fowardJson()" id="myform">
      {% csrf_token %}
      
      <div>Select a detection method: {{ ml_methods.mtd }} 
        {{ ml_methods.twitter_configuration.as_hidden }}
      </div>
      <script>
        let new_data = "{{ selected }}";
        selectRightOption(new_data)</script>
      
      <button type="submit" class="btn btn-primary">Save</button>    
  </form>

{% endblock body %}
