{% extends 'main/layout.html' %}

{% block body %}
<main class="flex-container3">
  <h1>Execution</h1>

    {% if running %}
      
      <button type="button" class="btn btn-primary" onclick="location.href='{% url 'stopCollector' %}'">Stop Collector</button>
    
    {% else %}
      <button type="button" class="btn btn-primary" onclick="location.href='{% url 'executeCollector' %}'">Start Collector</button>
      
      {% if error_msg != None %}
        <hr>
        <div class="alert">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
          <strong>Error:</strong><br>{{error_msg}}
        </div>
      {% endif %}
    {% endif %}

  </div>

</main>




{% endblock body %}


