{% extends 'main/layout.html' %}
{% load static %}

{% block script %}
  <script src="https://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="{% static "js/plots.js" %}"></script>


{% endblock script %}

{% block body %}
<link href="{% static 'css/dashboard3.css' %}" rel="stylesheet">

<div class="relative bg-lightBlue-600 md:pt-32 pb-32 pt-12">
  <div class="px-4 md:px-10 mx-auto w-full">
    <div class="flex flex-wrap">
      <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
        <div class="relative flex flex-col min-w-0 break-words bg-white rounded mb-6 xl:mb-0 shadow-lg">
          <div class="flex-auto p-4">
            <div class="flex flex-wrap">
              <div class="relative w-full pr-4 max-w-full flex-grow flex-1">
                <h5 class="text-blueGray-400 uppercase font-bold text-xs">Número total de tweets coletados</h5><span class="font-semibold text-xl text-blueGray-700">{{ total_tweets }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
        <div class="relative flex flex-col min-w-0 break-words bg-white rounded mb-6 xl:mb-0 shadow-lg">
          <div class="flex-auto p-4">
            <div class="flex flex-wrap">
              <div class="relative w-full pr-4 max-w-full flex-grow flex-1">
                <h5 class="text-blueGray-400 uppercase font-bold text-xs">Média de Score eleitoral do Dataset</h5><span class="font-semibold text-xl text-blueGray-700">{{ avg_score }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
        <div class="relative flex flex-col min-w-0 break-words bg-white rounded mb-6 xl:mb-0 shadow-lg">
          <div class="flex-auto p-4">
            <div class="flex flex-wrap">
              <div class="relative w-full pr-4 max-w-full flex-grow flex-1">
                <h5 class="text-blueGray-400 uppercase font-bold text-xs">Tweets coletados da última semana</h5><span class="font-semibold text-xl text-blueGray-700">{{n_of_tlw}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
        <div class="relative flex flex-col min-w-0 break-words bg-white rounded mb-6 xl:mb-0 shadow-lg">
          <div class="flex-auto p-4">
            <div class="flex flex-wrap">
              <div class="relative w-full pr-4 max-w-full flex-grow flex-1">
                <h5 class="text-blueGray-400 uppercase font-bold text-xs">Número de usuários distintos</h5><span class="font-semibold text-xl text-blueGray-700">{{n_of_authors}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="canvas-supporter">
  <div class="histo">
    <h5 class="text-blueGray-400 uppercase font-bold text-xs title">Histograma1 do abalo</h5>
    <canvas id="histogramUser" width="500" height="500"></canvas>
  </div>  
  
  <div class="histo">
    <h5 class="text-blueGray-400 uppercase font-bold text-xs title">Histograma1 do abalo</h5>
    <canvas id="histogramUser" width="500" height="500"></canvas>
  </div>
</div>




{% endblock body %}









