{% load static %}


<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">


    <title>{% block title %}Monitor{% endblock %}</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link async rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsoneditor/9.5.7/jsoneditor.min.css" integrity="sha512-KUAYxdtovjDFrnJvy5/8xWbJUUf41CIwieVmjF2dFzqLZhrdZj6urqX/0/06J+cqs5BlaZQwwwEnaShUy7LHrw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">

    <style class="darkreader darkreader--fallback" media="screen"></style>
    <style class="darkreader darkreader--text" media="screen"></style>
    <style class="darkreader darkreader--root-vars" media="screen"></style>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#000000">
    
    {% block script %}{% endblock script %}

  </head>
    <header class="flex-container">
        <div>
            <h1 id='title'>Monitor de Propaganda Eleitoral</h1>
        </div>
        <nav>
            <ul class="nav">
                 <li class="nav-item">
                    <a class="nav-link" href={% url 'index' %}>Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href={% url 'execucao' %}>Execução</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href={%url 'analise' %}>Análise de dados</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'configuration' %}">Configurações</a>
                </li>
            </ul>
        </nav>
    </header>

    {% block body %}
    {% endblock body %}

</html>


