*{
  margin: 0px;
  border: 0px;
  box-sizing: border-box;
}

main{
  padding:10px;
  max-width: 100% !important;
}

article{
  font-size: 20px;
}
ul li{
  list-style-type: none;
}

#jsoneditor{
  padding: 10px;
  width: 205vh;
  
  height: 65vh;
}


#title{
  font-size: xx-large;
}

.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
.fx1{
  display: flex;
  flex-direction: row;
}

.flex-left {
  width: 25%;
  padding-left: 10px;
  border-right: 2px solid gainsboro;
  margin-right: 8px;


}

.flex-right {
  width: 75%;
  border-spacing: 15px;
  padding-bottom: 5px;
}

.flex-container{
  display:flex;
  align-items: center;
  justify-content: space-between;
  background-color:#202020;
  color: azure;
  min-height: 12vh;
  padding-left: 15px;
  font-size: medium;
}

.flex-container2{
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
}

.flex-container3{
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    padding-top: 10px;
  
}

.z-pad{
  padding:10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tweet-wrap {
  max-width:90%;
  background: azure;
  margin-top: 15px;
  border-radius:3px;
  padding: 10px;
  border: 1.5px solid #A1C9D7;
}

.tweet-header {
  display: flex;
  align-items:flex-start;
  font-size:14px;
}
.tweet-header-info {
  font-weight:bold;
}
.tweet-header-info span {
  color:#657786;
  font-weight:normal;
  margin-left: 5px;
}
.tweet-header-info p {
  font-weight:normal;
  margin-top: 5px;
  margin-left: 5px;
}
.tweet-img-wrap {
  padding-left: 60px;
}

.tweet-info-counts {
  display: flex;
  margin-left: 10px;
  margin-top: 10px;
}
.tweet-info-counts div {
  display: flex;
  margin-right: 5px;
}
.tweet-info-counts div svg {
  color:#657786;
  margin-right: 5px;
}
@media screen and (max-width:430px){
  body {
    padding-left: 20px;
    padding-right: 20px;
  }
  .tweet-header {
    flex-direction:column;
  }
  .tweet-header img {
    margin-bottom: 20px;
  }
  .tweet-header-info p {
    margin-bottom: 30px;
  }
  .tweet-img-wrap {
    padding-left: 0;
  }
  .tweet-info-counts {
  display: flex;
  margin-left: 0;
}
.tweet-info-counts div {
  margin-right: 10px;
}
}



