*{
  margin: 0px;
  border: 0px;
  box-sizing: border-box;
}

main{
  padding:10px;
  max-width: 100% !important;
}

article{
  font-size: 20px;
}
ul li{
  list-style-type: none;
}


select {
  -webkit-appearance: button;
  -moz-appearance: button;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-padding-end: 20px;
  -moz-padding-end: 20px;
  -webkit-padding-start: 2px;
  -moz-padding-start: 2px;
  background-color: azure; /* Fallback color if gradients are not supported */
  background-image: url(../images/select-arrow.png), -webkit-linear-gradient(top, #E5E5E5, #F4F4F4); /* For Chrome and Safari */
  background-image: url(../images/select-arrow.png), -moz-linear-gradient(top, #E5E5E5, #F4F4F4); /* For old Firefox (3.6 to 15) */
  background-image: url(../images/select-arrow.png), -ms-linear-gradient(top, #E5E5E5, #F4F4F4); /* For pre-releases of Internet Explorer  10*/
  background-image: url(../images/select-arrow.png), -o-linear-gradient(top, #E5E5E5, #F4F4F4); /* For old Opera (11.1 to 12.0) */
  background-image: url(../images/select-arrow.png), linear-gradient(to bottom, #E5E5E5, #F4F4F4); /* Standard syntax; must be last */
  background-position: center right;
  background-repeat: no-repeat;
  border: 1px solid #AAA;
  border-radius: 2px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  color: #555;
  font-size: inherit;
  margin: 0;
  overflow: hidden;
  padding-top: 2px;
  padding-bottom: 2px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
:root {
  --select-border: #777;
  --select-focus: blue;
  --select-arrow: var(--select-border);
}
#jsoneditor{
  padding: 10px;
  width: 100%;
  
  height: 65vh;
}


#title{
  font-size: xx-large;
}

.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
.fx1{
  display: flex;
  flex-direction: row;
}

.flex-left {
  width: 25%;
  padding-left: 10px;
  border-right: 2px solid gainsboro;
  margin-right: 8px;


}

.flex-right {
  width: 75%;
  border-spacing: 15px;
  padding-bottom: 5px;
}

.flex-container{
  display:flex;
  align-items: center;
  justify-content: space-between;
  background-color:#202020;
  color: azure;
  min-height: 12vh;
  padding-left: 15px;
  font-size: medium;
}

.flex-container2{
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
}

.flex-container3{
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    padding-top: 10px;
  
}

.z-pad{
  padding:10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.tweet-wrap {
  max-width:90%;
  background: azure;
  margin-top: 15px;
  border-radius:3px;
  padding: 10px;
  border: 1.5px solid #A1C9D7;
}

.tweet-header {
  display: flex;
  align-items:flex-start;
  font-size:14px;
}
.tweet-header-info {
  font-weight:bold;
}
.tweet-header-info span {
  color:#657786;
  font-weight:normal;
  margin-left: 5px;
}
.tweet-header-info p {
  font-weight:normal;
  margin-top: 5px;
  margin-left: 5px;
}
.tweet-img-wrap {
  padding-left: 60px;
}

.tweet-info-counts {
  display: flex;
  margin-left: 10px;
  margin-top: 10px;
}
.tweet-info-counts div {
  display: flex;
  margin-right: 5px;
}
.tweet-info-counts div svg {
  color:#657786;
  margin-right: 5px;
}
@media screen and (max-width:430px){
  body {
    padding-left: 20px;
    padding-right: 20px;
  }
  .tweet-header {
    flex-direction:column;
  }
  .tweet-header img {
    margin-bottom: 20px;
  }
  .tweet-header-info p {
    margin-bottom: 30px;
  }
  .tweet-img-wrap {
    padding-left: 0;
  }
  .tweet-info-counts {
  display: flex;
  margin-left: 0;
}
.tweet-info-counts div {
  margin-right: 10px;
}
}



